<html>
<body>
    @using (Html.BeginForm("CalledFromParentView", "ControllerName", FormMethod.Post))
    {
        <h1> first model propery</h1>
        <h1> second model proper</h1>
        <p>
            <button type="submit"> submit properties</button>
        </p>
    }

</body>

</html>