@* @using Microsoft.AspNetCore.Identity
@using Project.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div style="" class="d-flex">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="nav-item" >
            <div class="dropdown" >
                <a id="manage" class="nav-link text-dark dropdown-trigger"   title="Manage">@UserManager.GetUserName(User)</a>
                @if (this.User.IsInRole("Admin"))
                {
                    <div class="dropdown-content" style="margin-left:10px; width: 200px;">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index"> <i class="fas fa-user"></i> Thông tin tài khoản</a>
                        <a asp-area="" asp-controller="Admin" asp-action="AccControl"> <i class="fas fa-table"></i> Bảng điều khiển</a>
                    </div>
                }
                else{
                    <div class="dropdown-content" style="margin-left:20px; width: 200px;">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index"> <i class="fas fa-user"></i> Thông tin tài khoản</a>
                        <a asp-area="" asp-controller="Cart" asp-action="ShowCart"> <i class="fas fa-cart-plus"></i> Giỏ hàng</a>
                        <a asp-area="" asp-controller="Bill" asp-action="ShowALlBill"> <i class="fas fa-shopping-bag"></i> Đơn đã mua</a>
                    </div>
                }
            </div>
        </div>
        <div class="nav-item" style="50px">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    }
    else
    {
        <div class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>


 *@