<h1>Mua hàng thành công!</h1>
<h2 style="text-align: center;">Cảm ơn quý khách hàng đã mua hàng tại Tiệm trà sữa!</h2>
<div style="text-align: center;">

    <a href="http://localhost:27398/Products/GetAllProduct" style="font-size: 24px;">Tiếp tục mua hàng</a>
    
</div>
