
<style>
    .card-img-top {
        max-height: 200px;
        object-fit: cover;
    }

    .card-body {
        height: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-center {
        text-align: center;
    }

    .search-bar {
        margin-bottom: 2rem;
    }
</style>

<h3 class="text-center my-4">Danh sách bài viết</h3>

<div class="container">
    <div class="row search-bar">
        <div class="col-10">
            <input class="form-control" placeholder="Nhập tên bài viết..." />
        </div>
        <div class="col-2">
            <button class="btn btn-primary m-0" style="height: 37px">Tìm</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://static.tramdoc.vn/image/img.news/0/0/0/275.jpg?v=1&w=628&h=365&nocache=1" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Dưới đây là 15 cuốn sách nên đọc được gợi ý bởi dịch giả Đinh Bá Anh. Trạm Đọc trân trọng giới thiệu đến bạn đọc</b>
                    </h5>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">
                        <button class="m-0 p-0" style="border: none; background: none; height: 25px;"><i style="color: red" class="fa-regular fa-heart"></i></button>
                    </small>
                    <small style="height: 25px;" class="text-muted">Đăng ngày 10/5/2024</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://static.tramdoc.vn/image/img.news/0/0/0/275.jpg?v=1&w=628&h=365&nocache=1" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Dưới đây là 15 cuốn sách nên đọc được gợi ý bởi dịch giả Đinh Bá Anh. Trạm Đọc trân trọng giới thiệu đến bạn đọc</b>
                    </h5>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">
                        <button class="m-0 p-0" style="border: none; background: none; height: 25px;"><i style="color: red" class="fa-regular fa-heart"></i></button>
                    </small>
                    <small style="height: 25px;" class="text-muted">Đăng ngày 10/5/2024</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://static.tramdoc.vn/image/img.news/0/0/0/275.jpg?v=1&w=628&h=365&nocache=1" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Dưới đây là 15 cuốn sách nên đọc được gợi ý bởi dịch giả Đinh Bá Anh. Trạm Đọc trân trọng giới thiệu đến bạn đọc</b>
                    </h5>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">
                        <button class="m-0 p-0" style="border: none; background: none; height: 25px;"><i style="color: red" class="fa-regular fa-heart"></i></button>
                    </small>
                    <small style="height: 25px;" class="text-muted">Đăng ngày 10/5/2024</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://static.tramdoc.vn/image/img.news/0/0/0/275.jpg?v=1&w=628&h=365&nocache=1" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">
                        <b>Dưới đây là 15 cuốn sách nên đọc được gợi ý bởi dịch giả Đinh Bá Anh. Trạm Đọc trân trọng giới thiệu đến bạn đọc</b>
                    </h5>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">
                        <button class="m-0 p-0" style="border: none; background: none; height: 25px;"><i style="color: red" class="fa-regular fa-heart"></i></button>
                    </small>
                    <small style="height: 25px;" class="text-muted">Đăng ngày 10/5/2024</small>
                </div>
            </div>
        </div>
    </div>
</div>